*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}
body{
    background-color: #8b008b;
}
.main{
    margin: 10px auto;
    width: 100%;
    max-width: 450px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 9px #222,-2px -2px 5px #000;
}
@media screen and (max-width: 390px) {
    .main{
        max-width: 330px;
    }
  }
/* header and select box */
.select_box{
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
}
.center{
    text-align: center;
}
.select_box header{
    border-bottom : 1px solid #ccc;
    display: flex;
    text-align: left;
    justify-content:space-between;
}
.select_box header h1{
    font-size: 23px;
    font-weight:600;
    padding:15px 20px;
    float: left;
}
.icon{
    width: 50px;
    height: 50px;
    display: inline-block;   
    font-size: 23px;
    text-align: center;
    background-color: #8b008b;
    color: #fff;
    border-radius: 5px;
    margin: 5px 0;
    transition: all 0.3s ease;
}
.icon i{
    width: 100%;
    height: 100%;
    line-height: 50px;
}

.select_box .title{
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0;
}
.select_box .options{
    display: flex;
    width:100%;
    padding-left:10%;
}
.options button{
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 20px;
    border: none;
    outline: none;
    background-color: #8b008b8b;
    border-radius: 5px;
    cursor : pointer;
    color: white;
    transition: all 0.3s ease;
    margin-right: 10%;
}
/* game section */
.options button:hover,
.result_box .btn button:hover, .icon:hover{
    transform: scale(0.96);
    opacity: 0.8;
}
.play_board section{
    display: flex;
    width: 70%;
    margin:0 auto;
}
.play_board .play_area{
    background-color: #8b008b;
    width: 100%;  
    border: 3px solid #fff;
}
.play_board section span{
    display: block;
    margin: 3px;
    height: 100px;
    width: 100px;
    background: #fff ;
    border-radius: 5px;
    font-size: 40px;
    text-align: center;
    line-height: 80px;
    color:#8b008b;
    user-select: none;
}
.play_board .details .players{
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;  
}
.play_board .details span{
    width: 100%;
    border-radius: 5px;
    padding: 7px 0;
    font-size: 19px;
    color:#8b008b;
    font-weight: 500;
    cursor: default;
    text-align: center;
    position: relative;
    z-index: 5;
    transition: all 0.3s ease;
}
/* result section */
.result_box.show{
    opacity: 1;
    pointer-events: auto;
}
.result_box .won_text{
    font-size: 25px;
    font-weight: 500;
    display:flex;
    justify-content: center;
}
.result_box  .won_text p{
    font-weight: 700;
    margin: 0 5px;
    display: flex;
}
.result_box .btn{
    display: flex;
    justify-content: center;
}
.result_box .btn button{
    font-size: 18px;
    font-weight: 500;
    padding: 8px 20px;
    border: none;
    outline: none;
    background: #8b008b;
    border-radius: 5px;
    cursor : pointer;
    color: white;
    transition: all 0.3s ease;
    margin-top: 10px;
}
